# FastAPI
APP_NAME=ML Service
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# Logging
LOG_LEVEL=INFO

# Random Seed
RANDOM_SEED=42

# Model
MODEL_DIR=artifacts/models
MODEL_NAME=kmeans.pkl

# Dataset
DATASET_DIR=data

# OpenStreetMap Cache
OSM_CACHE_DIR=data/osm

# Training
DEFAULT_CLUSTER=5
MAX_ITER=300
TOLERANCE=0.0001

# API Security (opsional)
API_KEY=